*{margin: 0;padding: 0;}
img{display: block;}
input{outline: none;background: none;border:none;}
.min-1000{min-width: 1000px;}
.max-1000{max-width: 1000px;}
.overflow-hidden{overflow: hidden;}
.margin-auto{margin: auto;}
.full-width{width: 100%;}
.full-height{height: 100%;}
.pointer{cursor: pointer;}
.pointer.hover:hover{text-decoration: underline;}
.opacity8:hover{opacity: .8;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.border-box{box-sizing: border-box;}
.text-center{text-align: center;}
.visibility-hidden{visibility: hidden;}
.colorWhite{color: #ffffff;}
.colorGray{color:#999999;}
.colorRed{color: #ff0000;}
.backgroundWhite{background-color: #ffffff;}
.pad-10{padding: 10px;}
.pad-l15{padding-left: 15px;}
.mar-t15{margin-bottom: 15px;}
.mar-l15{margin-left: 15px;}
.mar-t25{margin-bottom: 25px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font25{font-size: 25px;}
.font24{font-size: 24px;}
.font36{font-size: 36px;}
.flex1{flex: 1;}
.flex{display: flex;}
.flex.just-between{justify-content: space-between;}
.flex.just-center{justify-content: center;}
.flex.just-end{justify-content: flex-end;}
.flex.items-center{align-items: center;}
.flex.warp{flex-wrap: wrap;}
.flex.col{flex-direction: column;}
.flex.content-center{align-content: center;}

